@import '~assets/css/_1-variables'
@import '~assets/css/_2-mixins'

#todos
  display: flex
  flex-direction: column
  justify-content: flex-start
  > .container
    width: 50%
  h2
    text-align: center;
    text-transform: uppercase
    margin: 1rem 0