@import '~assets/css/_1-variables'

#about
  display: flex
  justify-content: center
#about > article
  margin: 3rem 0
  width: 50%
  h1 > a
    color: $black
  h1 > a > i
    color: $light_gray
    font-size: 0.8rem
  p
    margin: 1.5rem 0
  .embed-gif
    text-align: center
  .embed-gif > img
    width: 60%