@import url('https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap');
@font-face
  font-family: Helvetica Display;
  src: url('../fonts/HelveticaNowDisplay-ExtraBold.ttf')
  font-weight: 800
  font-display: swap
@font-face
  font-family: Helvetica Display;
  src: url('../fonts/HelveticaNowDisplay-Bold.ttf')
  font-weight: 700
  font-display: swap