*
  box-sizing: border-box
body
  margin: 0
  font-size: 100%
  text-rendering: optimizeLegibility
  font-family: $text-font
  color: $mid_gray
  background-color: $white

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0

ul
  padding: 0

a
  color: $light_gray
  transition: color 0.1s ease-in-out
a:hover
  color: $black
button
  font-family: $text-font
  cursor: pointer
  font-size: 1rem
input
  font-family: $text-font
  border: none
  border-bottom: 1px solid $black
  background-color: transparent
  font-size: 1rem
