.container
  width: 90%
  margin: 0 auto
  +md()
    width: 80%
  +lg()
    width: 60%

.red-text
  color: $red
.blue-text
  color: $blue
.yellow-text
  color: $yellow
.black-text
  color: $black
.white-text
  color: $white
.light-text
  color: $light_gray
.mid-text
  color: $mid_gray

.link
  padding: 0
  border: none
  text-decoration: underline
  color: $light_gray
  transition: color 0.1s ease-in-out
  cursor: pointer
.link:hover
  color: $black