@import './assets/css/_1-variables'

#main > nav
  width: 100%
#main > nav > ul
  list-style-type: none
  display: flex
  justify-content: center
  padding: 1rem 0
#main > nav > ul > li
  margin: 0 1rem
#main > nav > ul > li > a.active
  color: $black